<% provide(:title, 'About') %>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm text-center">
      <h1>About Us</h1>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <div class="card mx-auto w-75">
        <div class="card-body">
          <h5 class="card-title">大平　礼</h5>
          <h6 class="card-subtitle mb-2 text-muted">この素晴らしいアプリの製作者</h6>
          <span class="card-text">プログラマーを目指し、パソコンをカタカタする日々を過ごしている。</span><br>
          <span class="card-text">コーヒーが好き。</span><br>
          <span class="card-text">喫茶店の常連になることが好き。</span><br>
          <span class="card-text">自分の中では、店員の方と雑談できるレベルまでいったら常連だと思っている。</span><br>
          <span class="card-text">公式ドキュメント信者であり、公式ドキュメントの内容が薄いと死ぬ。</span><br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm">
      <div class="card mx-auto w-75">
        <div class="card-body">
          <h5 class="card-title">制作秘話</h5>
          <h6 class="card-subtitle mb-2 text-muted">Naze kono app ha born shitanoka?</h6>
          <span class="card-text">ある日、男は途方に暮れていた。</span><br>
          <span class="card-text">逃げ込んだ先のコンビニから自宅まではまだ距離がある。</span><br>
          <span class="card-text">外を見ると、少し強めの雨が降っていた。</span><br>
          <span class="card-text">ここで男は、選択を迫られることになる。</span><br>
          <span class="card-text">傘を買うのか、否かだ。</span><br>
          <span class="card-text">家に帰れば傘はある。</span><br>
          <span class="card-text">朝、傘を持つことを忘れただけなのだ。</span><br>
          <span class="card-text">そう思うと、なぜ天気予報を確認しなかったのか、それだけが悔やまれる。</span><br>
          <span class="card-text">ここでの500円の出費は痛い。</span><br>
          <span class="card-text">走って帰れば、ワンチャンいけるのではないか、、、？</span><br>
          <span class="card-text">しかし、結局、自分に選択肢などない。</span><br>
          <span class="card-text">雨に濡れることが好きな人はいない。</span><br>
          <span class="card-text">ここは駅近のコンビニ。</span><br>
          <span class="card-text">駅の近くに住んでいる方が珍しいだろう。</span><br>
          <span class="card-text">ゆえに、家までの距離は長い人が大半だ。</span><br>
          <span class="card-text">全て見透かされているのだ。</span><br>
          <span class="card-text">カウンターにいる店員の心の声が聞こえる。</span><br>
          <span class="card-text">早く傘を買え。500円の売上を捧げろ。いつまでそうしているつもりだ。</span><br>
          <span class="card-text">確かに、店員の言うとおりだ。</span><br>
          <span class="card-text">そろそろ、雑誌を読むふりをして考えるのも限界だ。</span><br>
          <span class="card-text">男は、入り口の方とへ向かって行った。</span><br>
          <span class="card-text">目的はもちろん傘の販売コーナーである。</span><br>
          <span class="card-text">その中から一番安い傘を選ぶと、レジへと向かい、会計を済ませた。</span><br>
          <span class="card-text">店員の勝者と哀れみの眼光を背中で受けながら、男は闇の中へと歩きだした、、、。</span><br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <div class="card mx-auto w-75">
        <div class="card-body">
          <h5 class="card-title">お問い合わせ</h5>
          <h6 class="card-subtitle mb-2 text-muted">何かありましたら、以下までお願い致します。</h6>
          <span class="card-text">umbrellanotice@gmail.com</span><br>
        </div>
      </div>
    </div>
  </div>
</div>