<% provide(:title, 'Relate LINE') %>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm text-center">
      <h1>LINEと連携</h1>
      <h4 class="text-muted mt-4">
        <p>シリアル番号を入力してください。</p>
        <p>LINE公式アカウントの「メニュー」→「シリアル番号を発行」から表示できます。</p>
      </h4>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <%= form_with url: users_line_users_path, data: { remote: false } do |f| %>
        <div class="field w-75 mx-auto">
          <%= f.label :serial_number, 'シリアル番号' %><br />
          <%= f.text_field :serial_number, class: 'form-control' %>
        </div>

        <div class="actions text-center mt-3">
          <%= f.submit 'LINEと連携する', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>