<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <p class="text-white-50">&copy; 2020-<%= Time.current.year %> Copyright Umbrella Notice .</p>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'プライバシーボリシー', policy_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to '利用規約', terms_path, class: 'nav-link text-white' %>
        </li>
      </ul>
  </div>
</nav>